{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="form">
    {{ form_start(form) }}
        {{ form_row(form.abbreviation, { 'attr': {'class': 'text-input'} }) }}
        {{ form_row(form.keywords, { 'attr': {'class': 'text-input'} }) }}   
        {{ form_row(form.definition, { 'attr': {'class': 'text-input'} }) }}
        {{ form_row(form.illustration, { 'attr': {'class': 'img-input'} }) }}
        
    {{ form_end(form) }}
</div>

{% endblock %}
