{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="form">
{{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}   
    {{ form_row(form.pseudo) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.role) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
</div>
{% endblock %}
