body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: blue;
}

h1{
    text-align: center;
}

.form{
    display: flex;
    padding: 1rem;
    /*grid-template-columns: repeat(3, 1fr);*/
    flex-direction: row;
    justify-content: center;
}

.help-text{
    font-size: 70%;
    font-style: italic;
    margin-top: 0.2rem;
}

label.required{
    padding-top: 1rem;
    margin-right: 1rem;
}

.text-input{
    width: 100%;
    border-style: none;
    border-bottom: 1px solid blue;
}

button, input[type="file" i] {
    color: blue;
    border: 1px solid blue;
}

button#acronyms_save{
    margin: auto;
}

