<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ABC...XYZ{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ absolute_url(asset('/assets/css/reset.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('/assets/css/normalize.css')) }}">
        <link rel="stylesheet" href="{{ absolute_url(asset('/assets/css/style.css')) }}">
    </head>
    <body>
        <h1>Acronyms for the novice Web developper</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
